* {
    margin: 0;
    padding: 0;
  }
  
  font-face {
    font-family:"RecursiveMono";
    src: url("Recursive_Monospace-Light.ttf");
  }

  body {
    height: 100%;
    font-size: 70pt;
    font-weight: normal;
    font-family:"RecursiveMono",monospace;
    line-height: 1.25;
  }

mark {
    color: rgb(255, 255, 255);
    background-color: rgb(245, 108, 255);
  }

  a {
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: rgb(172, 172, 172);
    text-decoration: none;
  }

  a:visited {
    color: rgb(164, 255, 28);
  }

  a:not(:first-child) {
    display: none;
  }

  a:target {
    display: block;
  }




